#!/usr/bin/env bash

DIR="$(dirname $0)"
cd ${DIR}
DIR=$(pwd)

function check_retcode() {
  if [ "${RETCODE}" != 0 ]; then
    echo "Return code was ${RETCODE}"
    exit ${RETCODE}
  fi
}

su - oracle -c "cd ${DIR}; ./gridSetup.sh -waitForCompletion -silent -responseFile {{ response_file }}; exit $?"
RETCODE="$?"
check_retcode

{{ oracle_inventory }}/orainstRoot.sh
RETCODE="$?"
check_retcode

./root.sh
RETCODE="$?"
check_retcode

su - oracle -c "cd ${DIR}; ./gridSetup.sh -waitForCompletion -silent -executeConfigTools -responseFile {{ response_file }}; exit $?"
RETCODE="$?"
check_retcode


